.url_button{
    display: flex;
    vertical-align:middle;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.remove_button{
    display: inline-block;
    padding: 10px 18px;
    background-color: #666;
    color: white;
    border-radius: 50px; 
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid transparent; 
    user-select: none; 
    margin: 20px
}

.url{
    margin: 100px
}