html,body{
    height: 100%;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:100px;
    flex-direction:column;
}

.return_button{
    display: inline-block;
    padding: 10px 18px;
    background-color: #666;
    color: white;
    border-radius: 50px; 
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 2px solid transparent; 
    user-select: none; 
}

